<footer class="container py-5">
  <hr>
  <div class="row">
    <div class="col-6 col-md">
      <h5>Shop and Learn</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Mac</a></li>
        <li><a class="text-muted" href="#">iPad</a></li>
        <li><a class="text-muted" href="#">iPhone</a></li>
        <li><a class="text-muted" href="#">Watch</a></li>
        <li><a class="text-muted" href="#">TV</a></li>
        <li><a class="text-muted" href="#">Music</a></li>
        <li><a class="text-muted" href="#">AirPods</a></li>
        <li><a class="text-muted" href="#">HomePod</a></li>
        <li><a class="text-muted" href="#">iPod touch</a></li>
        <li><a class="text-muted" href="#">Accessories</a></li>
        <li><a class="text-muted" href="#">Gift Cards</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Apple Music</a></li>
        <li><a class="text-muted" href="#">Apple TV+</a></li>
        <li><a class="text-muted" href="#">Apple Fitness+</a></li>
        <li><a class="text-muted" href="#">Apple News+</a></li>
        <li><a class="text-muted" href="#">Apple Arcade</a></li>
        <li><a class="text-muted" href="#">iCloud</a></li>
        <li><a class="text-muted" href="#">Apple One</a></li>
        <li><a class="text-muted" href="#">Apple Card</a></li>
        <li><a class="text-muted" href="#">Apple Book</a></li>
        <li><a class="text-muted" href="#">App Store</a></li>
      </ul>
      <h5>Account</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Manage Your Apple ID</a></li>
        <li><a class="text-muted" href="#">Apple Store Account</a></li>
        <li><a class="text-muted" href="#">iCloud.com</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Apple Store</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Find a Store</a></li>
        <li><a class="text-muted" href="#">Shop Online</a></li>
        <li><a class="text-muted" href="#">Genius Bar</a></li>
        <li><a class="text-muted" href="#">Today at Apple</a></li>
        <li><a class="text-muted" href="#">Apple Camp</a></li>
        <li><a class="text-muted" href="#">Apple Store App</a></li>
        <li><a class="text-muted" href="#">Refurbished and Clearance</a></li>
        <li><a class="text-muted" href="#">Financing</a></li>
        <li><a class="text-muted" href="#">Apple Trade In</a></li>
        <li><a class="text-muted" href="#">Order Status</a></li>
        <li><a class="text-muted" href="#">Shopping Help</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>For Business</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Apple and Business</a></li>
        <li><a class="text-muted" href="#">Shop for Business</a></li>
      </ul>
      <h5>For Education</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Apple and Education</a></li>
        <li><a class="text-muted" href="#">Shop for K-12</a></li>
        <li><a class="text-muted" href="#">Shop for College</a></li>
      </ul>
      <h5>For Healthcare</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Apple in Healthcare</a></li>
        <li><a class="text-muted" href="#">Health on Apple Watch</a></li>
        <li><a class="text-muted" href="#">Health Records on iPhone</a></li>
      </ul>
      <h5>For Government</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Shop for Government</a></li>
        <li><a class="text-muted" href="#">Shop for Veterans and Military</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Apple Values</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Apple Values</a></li>
        <li><a class="text-muted" href="#">Accessibility</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Environment</a></li>
        <li><a class="text-muted" href="#">Inclusion and Diversity</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Racial Equity and Justice</a></li>
        <li><a class="text-muted" href="#">Supplier Responsibility</a></li>
      </ul>
      <h5>About Apple</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Newsroom</a></li>
        <li><a class="text-muted" href="#">Apple Leadership</a></li>
        <li><a class="text-muted" href="#">Job Opportunities</a></li>
        <li><a class="text-muted" href="#">Investors</a></li>
        <li><a class="text-muted" href="#">Events</a></li>
        <li><a class="text-muted" href="#">Contact Apple</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div>
    Copyright © 2021 Apple Inc. All rights reserved.
  </div>
</footer>
