<div class="text">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Register to Apple Store</h1>
    <label for="inputFirstName">First Name</label>
    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required="" autofocus="">
    <label for="inputLastName">Last Name</label>
    <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required="" autofocus="">
    <label for="inputEmail">Apple ID</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
    <label for="inputPassword1">Password</label>
    <input type="password" id="inputPassword1" class="form-control" placeholder="Password" required="">
    <label for="inputPassword2">Password</label>
    <input type="password" id="inputPassword2" class="form-control" placeholder="Password confirm" required="">
    <label for="inputPhone">Phone number</label>
    <input type="text" id="inputPhone" class="form-control" placeholder="Phone number" required="" autofocus="">
    <br>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="buttons">
    <a class="btn btn-outline-secondary" routerLink="../layout">Register</a>
    <hr>
    <p><small>Already have an Apple ID. <a routerLink="../layout">Log in.</a></small></p>
    </div>
  </form>
  <br><br><br>
</div>
