.cheapPhone {
  background-color: #00e0b4;
  height: 15px;
}
.mediumPhone {
  background-color: #ffbe33;
  height: 15px;
}
.expensivePhone {
  background-color: #ff3d3d;
  height: 15px;
}
.cheapLaptop {
  background-color: #00e0b4;
  height: 15px;
}
.mediumLaptop {
  background-color: #ffbe33;
  height: 15px;
}
.expensiveLaptop {
  background-color: #ff3d3d;
  height: 15px;
}
.cheapWatch {
  background-color: #00e0b4;
  height: 15px;
}
.mediumWatch {
  background-color: #ffbe33;
  height: 15px;
}
.expensiveWatch {
  background-color: #ff3d3d;
  height: 15px;
}
.prices {
  text-align: right;
}
