<main role="main" class="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Welcome!!!</h1>
      <p class="lead text-muted">
        Welcome to Apple world.
      </p>
      <p class="lead text-muted">
        To get started log in or register.
      </p>
      <p>
        <a routerLink="../layout" class="btn btn-primary my-2">Login</a>&nbsp;
        <a routerLink="../registration" class="btn btn-secondary my-2">Registration</a>
      </p>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
