<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5"
         style="margin: 50px">
      <h1 class="display-6">Welcome to home page</h1>
      <p class="lead">Email: <strong>{{users.email}}</strong> was logged in.</p>
      <p class="lead fw-normal">To log out click the <strong>Log out</strong> button bellow</p>
      <a class="btn btn-outline-secondary" (click)="logOut()" href="#">Log out</a>
    </div>
  </div>
</main>
