.cheap {
  background-color: #00e0b4;
  height: 15px;
}
.medium {
  background-color: #ffbe33;
  height: 15px;
}
.expensive {
  background-color: #ff3d3d;
  height: 15px;
}
.prices {
  text-align: right;
}
